<h1 class="text-center">New Profile</h1>

<%= render "form" %>

<!-- <form action="/profiles" method="post">

  <label for="name">Your name</label>
  <input type="text" name="profile[name]">

  <label for="name">Your age</label>
  <input type="text" name="profile[age]">

  <label for="name">Your location</label>
  <input type="text" name="profile[locatoin]">

  <input type="submit">
</form> -->
