<% @guests.each do |guest| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card">
      <div class="card_thumb">
        <%= image_tag("profile.jpg", size: "370x250", alt: "") %>
      </div>
      <div class="card_date">
        <span class="card_date_day">12</span>
        <span class="card_date_month">April</span>
      </div>
      <div class="card_body">
        <div class="card_category"><a href="#">Photo´s</a></div>
        <h2 class="card_title"><a href="#"><%= guest.name %></a></h2>
        <div class="card_subtitle">subtitle</div>
        <div class="card_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas maiores in alias dolore quo quisquam laborum fuga sequi necessitatibus eveniet quam iure, perspiciatis, sit iste soluta ea quibusdam quae atque.</div>
      </div>
      <footer class="card_footer">
        <span class="icon icon--time"></span>last online(yesterday)
      </footer>
    </div>
  </div>
<% end %>
