<%= render "form" %>

<!-- <form action="/guests" method="post">

  <label for="name">Your name</label>
  <input type="text" name="guest[name]">

  <label for="name">Your age</label>
  <input type="text" name="guest[age]">

  <label for="name">Your location</label>
  <input type="text" name="guest[locatoin]">

  <input type="submit">
</form> -->
