<div class="footerContainer">
  <div class="footerItem">
    <h1>Over ons</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet libero, non temporibus unde itaque maiores ipsum laudantium dignissimos omnis debitis!</p>
  </div>
  <div class="footerItem">
    <h1>Informatie</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet libero, non temporibus unde itaque maiores ipsum laudantium dignissimos omnis debitis!</p>
  </div>
  <div class="footerItem">
    <h1>Formaliteit</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet libero, non temporibus unde itaque maiores ipsum laudantium dignissimos omnis debitis!</p>
  </div>
</div>
