<header>
  <div class="wrapper clearfix">
    <div id="logo">
      <%= link_to "Shuffle", root_path %>
    </div>
    <nav>
      <%= link_to 'Help', root_path, class: "button" %>
      <%= link_to 'Sign in', root_path, class: "button" %>
    </nav>
  </div>
</header>
