  <div class="flexCard">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="teaserCard">
        kaart 1
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="teaserCard">
        kaart 2
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="teaserCard">
        kaart 3
      </div>
    </div>
  </div>
</div>


    <!-- <div class="card_thumb">
      <%#= cl_image_tag @teaserProfile.photo, height: 250, width: 370, crop: :fill %>
    </div>
    <div class="card_date">
      <span class="card_date_day">12</span>
      <span class="card_date_month">April</span>
    </div>
    <div class="card_body">
      <div class="card_category"><a href="#">Photo´s</a></div>
      <h2 class="card_title"><a href="#"><%#= @teaserProfile.name %></a></h2>
      <div class="card_subtitle">age: <%#= @teaserProfile.age %> <br> location: <%#= @teaserProfile.location %>
      </div>
      <div class="card_description"><%#= @teaserProfile.description %>
        <br>
        <br>
        <%#
        = link_to "show profile", profile_path(@teaserProfile), class: "button" %>
      </div>

    </div>
    <footer class="card_footer">
      <span class="icon icon--time"></span>last online(yesterday)
    </footer>
 -->
