<div class="banner">
  <h1>Jouw relatie vinden? <br />
   Shuffle is nu 100% gratis!</h1>
  <div class="banner-content">
    <p>Login form</p>
    <div class="signupBox">
      <%= link_to 'Gratis Aanmelden', new_user_session_path, id: "signupLink" %>
    </div>
  </div>
</div>

<div class="infoContainer">
  <div class="item">
    <%= image_tag("stap-1.png", class: "homeIcon") %>
    <h2>100% gratis, geen addertjes!</h2>
    <p>Aanmelden en meteen opzoek! Geen lange vragenlijsten of testjes invullen. Shuffle is 100% gratis voor vrouwen. Er zijn geen verbogen abonnementen en voor mannen is het altijd maandelijks opzegbaar. Bovendien is het een zeer makkelijk systeem.</p>
  </div>
  <div class="item">
    <%= image_tag("stap-2.png", class: "homeIcon") %>
    <h2>Makkelijk filteren</h2>
  </div>
  <div class="item">
    <%= image_tag("stap-3.png", class: "homeIcon") %>
    <h2>Relatie gevonden? Altijd opzegbaar!</h2>
  </div>
</div>

<div class="teaserContainer">

</div>
