@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar.scss";
@import "profiles.scss";
@import "card.scss";
@import "components/buttons.scss";
@import "components/banner.scss";
@import "home.scss";
@import "footer.scss";
@import "components/message.scss";
@import "components/reviews.scss";
@import "components/avatars.scss";

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

