.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  height: 470px;
  background: #fdf9f6;
  padding: 80px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  width: 30%;
}

.teaserContainer {
  height: 500px;
  padding: 50px;
}

.homeIcon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}


.infoContainer .item h2 {
  font-size: 12px;
}

.infoContainer .item p {
  font-size: 10px;
}

.teaserHeader {
  text-align: center;
  align-content: center;
}
