header {
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid #E4E4E4;
  #logo {
    float: left;
    font-size: 1.75rem;
    a {
      color: #7d7d7d;
      text-decoration: none;
      &:hover {
        color: #50A7C7;
      }
    }
  }
  nav {
    float: right;
    a {
      margin-left: 1.5rem;
      line-height: 2;
      color: #7d7d7d;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#headerLink {
  margin-right: 3rem;
}

#headerLinkRight {
  margin-right: 8rem;
}
