// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 70px;
}

.leftMenu {
  height: 250px;
  width: 30%;
  padding: 40px;
  line-height: 2em;
  margin-top: 30px;
  ul {
    list-style-type: none;
  }
  li {
    width: 120%;
    padding-left: 25px;
  }
  a {
    text-decoration: none;
    color: #666C74;
    font-size: 12px;
  }
}

.profileForm {
  width: 30%;
  height: 500px;

  label {
    display: none;
  }
}

.profileScore {
  width: 30%;
  height: 500px;
}

.active {
  background: rgba(211, 211, 211, 0.19);
  border-right: 1px solid grey;
  a {
    color: red;
  }
}
