// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 70px;
}

.leftMenu {
  height: 250px;
  width: 30%;
  border: 1px solid red;
  padding: 40px;
  line-height: 2em;
  margin-top: 30px;
  ul {
  list-style-type: none;
  }
}

.profileForm {
  width: 30%;
  height: 300px;
  border: 1px solid red;

  label {
    display: none;
  }
}

.profileScore {
  width: 30%;
  height: 500px;
}
